@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000;
}

.commonBox {
    width: 100%;
    float: left;
}

.commonBox > div {
    width: 1200px;
    margin: 0 auto;
}

.commonBox > div > div {
    width: 100%;
    float: left;
}

.commonBox > div > div > .box1 {
    width: 100%;
    float: left;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}

.commonBox > div > div > .box1 > .logo_box {
    width: 19%;
    float: left;
    margin: 10px 5px;
}

.logo {
    width: 90%;
    float: left;
    margin: 10px 20px;
}

.logo h2 {
    font-size: 1.5rem;
}

.logo span {
    font-size: 1.5rem;
    color: #ffa500;
}

.logo a:hover {
    color: #000;
}

.commonBox > div > div > .box1 > .nav_box {
    width: 79%;
    float: left;
    margin: 10px 5px;
}

.commonBox > div > div > .box1 > .nav_box > ul {
    width: 100%;
    float: left;
    margin: 10px 25px;
    line-height: 30px;
}

.commonBox > div > div > .box1 > .nav_box > ul > li {
    width: 25%;
    float: left;
    text-align: center;
}

.commonBox > div > div > .box1 > .nav_box > ul > li > .dropdown {
    display: none;
    width: 220px;
    margin: 45px 0;
    padding: 20px;
    text-align: left;
    position: absolute;
    z-index: 2;
}

.commonBox > div > div > .box1 > .nav_box > ul > li:hover> .dropdown {
    display: block;
    background: #f5f5f5;
}

.commonBox > div > div > .box1 > .nav_box > ul > li:hover > .dropdown > a {
    color: #000;
}

.commonBox > div > div > .box1 > .title.box {
    width: 100%;
    float: left;
}

.mySlides {
    width: 100%; 
    display: none;
}

.prev, .next {
cursor: pointer;
position: absolute;
top: 43%;
left: 20%;
width: 10px;
padding: 16px;
color: #000;
font-size: 34px;
}

.next {
left: 78%;
}

.prev:hover, .next:hover {
color: #ccc;
}

.dot {
cursor: pointer;
height: 8px;
width: 8px;
margin: 10px 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
position: relative;
left: 1%;
}

.active, .dot:hover {
background-color: #ffa500;
width: 12px;
border-radius: 25% ;
}

.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1s;
}

@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

.title_box p  {
    font-size: 28px;
}

.nav_box2 {
    width: 100%;
    float: left;
}

.nav_box2 > ul {
    width: 100%;
    float: left;
}

.nav_box2 > ul > li {
    width: 33%;
    float: left;
    padding: 0px;
}

button {
    background-color: #fff;
    border: none;
}

.nav_box2 .fa-chevron-right:hover {
    color: #ff0;
}

b {
    font-size: 28px;
    color: #f00;
}

.image_box {
    background-image: url(./images/section_bg.jpg);
    width: 100%;
    float: left;
    padding: 80px;
    text-align: center;
}
.image_box > .image_title1 {
    font-size: 28px;
    color: #fff;
}

.image_box > .image_title1 b {
    color: #ffa500;
}

.image_box > .image_title2 {
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
}

.image_box > button {
    margin-top: 10px;
    border: 1px solid #fff;
    opacity: .3;
    padding: 10px;
    width: 15%;
}

.image_box > button:hover {
    background-color: #ffa500;
    color: #fff;
    opacity: 1;
    border: none;
}

.bottom_menu {
    width: 24%;
    float: left;
    margin: 50px;
}

.bottom_menu p {
    font-size: 16px;
    text-align: left;
}

.bottom_menu p button {
    float: right;
    border: 1px solid #ffa500;
    border-radius: 50%;
    width: 20px;
    font-size: 13px;
}

.bottom_menu p button a {
    color: #ffa500;
}


.bottom_menu ul {
    width: 100%;
    float: left;
}

.bottom_menu ul li {
    width: 100%;
    float: left;
    text-align: left;
    padding: 5px;
}

.bottom_box .bottom_box_btn {
    width: 31%;
    float: right;
    border: .5px solid;
    margin: 3px;
    padding: 10px 0;
}

.bottom_box .bottom_box_btn a:hover {
    color: #000;
}

.bottom_box .bottom_box_btn:last-child {
    background-color: #ffa500;
    color: #fff;
    line-height: 20px;
}

.bottom_box .bottom_box_btn .fa-chevron-right {
    float: right;
    line-height: 20px;
}


.footer {
    background-color: #454545;
    width: 100% ;
    float: left;
}

.sub_nav {
    width: 100%;
    float: left;
    margin: 0 10%;
}

.sub_nav ul {
    background-color: #676767;
    width: 80%;
    float: left;
    text-align: center;
}

.sub_nav ul li {
    width: 18%;
    float: left;
    margin: 0;
    padding: 10px;
}

.sub_nav ul li a {
    color: #fff;
}

.footer_logo {
    width: 18%;
    float: left;
    padding: 30px;
    font-size: 24px;
    color: #fff;
    margin-top: 50px;
}

.footer_logo span {
    color: #ffa500;

    font-size: 20px;
}

.footer_info {
    width: 68%;
    float: left;
    text-align: left;
    color: #fff;
    padding: 20px;
    margin-top: 30px;
}

.footer_info button {
    float: right;
    margin: 2px;
    padding: 1.5px;
    border-radius: 20%;
    background-color: #696969;
}

.footer_info button a {
    font-size: 8px;
    color: #fff;
}


